/* You can add global styles to this file, and also import other style files */
@use './reset.scss';
@use './palette.scss' as *;
@use './mixins.scss' as mixins;

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

#root {
	@include mixins.flex(column, center, center);
	background-image: url('src/assets/images/bg-desktop-light.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: top center;

	&.dark_mode {
		background-color: $app-bg-color-dark;
	}
}

.APP_container {
	@include mixins.flex(column, flex-start, center);
	width: 100vw;
	height: 100vh;
	margin-right: $margin-right;
	margin-left: $margin-left;
	font-family: $font-family;
	font-style: $font-style;

	&.APP_dark_mode {
		background-image: url('src/assets/images/bg-desktop-dark.jpg');
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: top center;
		background-color: $app-bg-color-dark;
	}
}
