@use './palette.scss' as  *;
@use './mixins.scss' as mixins;

footer {
    @include mixins.flex(row, center, center);

    height: $footer-height;
    width: $footer-width;
    border: 2px solid blue;
    
    p.FOOTER_text {
        color: $secondary-font-color-light;
        font-weight: $secondary-font-weight;
        font-size: $secondary-font-size;
        font-family: $font-family;
        font-style: $font-style;
        line-height: $secondary-font-line-height;
        margin-top: 49px;
    }
}