// DARK THEME
$bg-color-dark: #25273d;
$btn-border-color-dark: #393a4b;

// LIGHT THEME
$btn-border-color-light: #e3e4f1;

// DESKTOP
$container-width: 540px;
$container-min-height: 439px;
$margin-right: 450px;
$margin-left: 450px;
$font-family: 'Josefin Sans';
$font-style: normal;

// DESKTOP HEADER
$header-font-weight: 700;
$header-line-height: 40px;
$header-font-size: 40px;
$header-font-color: #ffffff;
$header-letter-spacing: 15px;
$header-margin-top: 70px;

// DESKTOP TEXT
$text-font-weight: 400;
$text-line-height: 18px;
$text-font-size: 18px;
$text-primary-font-color-light: #494c6b;
$text-completed-font-color-light: #d1d2da;
$text-primary-font-color-dark: #c8cbe7;
$text-completed-font-color-dark: #4d5067;

// DESKTOP PLACEHOLDER TEXT
$placeholder-font-weight: 400;
$placeholder-line-height: 18px;
$placeholder-font-size: 18px;

// DESKTOP SECONDARY TEXT
$secondary-font-weight: 700;
$secondary-font-weight-400: 400;
$secondary-font-size: 14px;
$secondary-font-line-height: 14px;
$secondary-font-color-light: #9495a5;
$secondary-selected-font-color: #3a7cfd;
$secondary-font-color-dark: #5b5e7e;
$secondary-hover-font-color-light: #494c6b;
$secondary-hover-font-weight: 700;
$secondary-font-color-dark: #767992;
$secondary-hover-font-color-dark: #e3e4f1;

// DESKTOP FOOTER
$footer-width: 179px;
$footer-height: 14px;

// MOBILE
$mobile-container-width: 327px;
$mobile-margin-right: 24px;
$mobile-margin-left: 24px;

// MOBILE HEADER
$mobile-header-font-weight: 400;
$mobile-line-height: 20px;
$mobile-font-size: 20px;

// MOBILE TEXT
$mobile-text-line-height: 12px;
$mobile-text-font-weight: 400;
$mobile-text-font-size: 12px;

// MOBILE PLACEHOLDER TEXT
$mobile-placeholder-font-weight: 400;
$mobile-placeholder-line-height: 12px;
$mobile-placeholder-font-size: 12px;

// MOBILE SECONDARY TEXT
$mobile-secondary-font-weight: 400;
$mobile-secondary-font-size: 12px;
$mobile-secondary-font-line-height: 12px;
$mobile-secondary-font-color-light: #9495a5;
$mobile-secondary-selected-font-color: #3a7cfd;
$mobile-secondary-font-color-dark: #5b5e7e;
$mobile-secondary-hover-font-color-light: #494c6b;
$mobile-secondary-hover-font-weight: 700;
$mobile-secondary-font-color-dark: #767992;
$mobile-secondary-hover-font-color-dark: #e3e4f1;

// MOBILE TOGGLES
$mobile-toggle-font-weight: 700;
$mobile-toggle-font-size: 14px;
$mobile-toggle-line-height: 14px;

$cursor-primary-color: #3a7cfd;
$divider-color: #e3e4f1;
