
// DESKTOP 
$container-width: 540px;
$margin-right: 450px;
$margin-left: 450px;
$font-family: 'Josefin Sans';
$font-style: normal;

// DESKTOP HEADER
$header-font-weight: 700;
$header-line-height: 40px;
$header-font-size: 40px;
$header-font-color: #FFFFFF;
$header-letter-spacing: 15px;

// DESKTOP TEXT
$text-font-weight: 400;
$text-line-height: 40px;
$text-font-size: 40px;
$text-primary-font-color-light: #9495A5;
$text-secondary-font-color-light: #494C6B;
$text-completed-font-color-light: #D1D2DA;
$text-primary-font-color-light: #C8CBE7;
$text-secondary-font-color-dark: #767992;
$text-completed-font-color-dark: #4D5067;

// DESKTOP PLACEHOLDER TEXT
$placeholder-font-weight: 400px;
$placeholder-line-height: 18px;
$placeholder-font-size: 18px;

// DESKTOP SECONDARY TEXT
$secondary-font-weight: 700;
$secondary-font-weight: 400px;
$secondary-font-size: 14px;
$secondary-font-line-height: 14px;
$secondary-font-color-light: #9495A5;
$secondary-selected-font-color: #3A7CFD;
$secondary-font-color-dark: #5B5E7E;

