@use './palette.scss' as *;
@use './mixins.scss' as mixins;

section.TODO_CONTROLS_container {
	@include mixins.flex(row, space-between, center);
	background-color: #fff;
	border-radius: 4px;
	padding: 16px 24px 20px 24px;
	width: $container-width;
	height: 64px;

	&.TODO_CONTROLS_dark_mode {
		background-color: $bg-color-dark;
	}

	button,
	span {
		border: none;
		background: none;
		font-family: inherit;
		font-size: $secondary-font-size;
		font-weight: $secondary-font-weight-400;
		line-height: $secondary-font-line-height;
		color: $secondary-font-color-light;
	}

	button:hover {
		color: $secondary-hover-font-color-light;
	}

	button.TODO_CONTROLS_dark_mode:hover {
		color: $secondary-hover-font-color-dark;
	}

	button.TODO_CONTROLS_dark_mode,
	span.TODO_CONTROLS_dark_mode {
		color: $controls-font-color-dark;
	}

	button.TODO_CONTROLS_activated {
		color: $secondary-selected-font-color;
	}

	.TODO_CONTROLS_toggles_container {
		@include mixins.flex('row', 'space-evenly', center);
		button {
			font-weight: $secondary-font-weight;
		}
	}
}
